* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("./background.png") no-repeat center center fixed;
  background-size: cover;
  background-color: #000000;
}

.login {
  background: transparent;
  color: #fff;
  padding: 30px 52px 30px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.logo-container img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.input-container {
  margin-bottom: 20px;
  text-align: left;
}

.input-container label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.input-container input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  outline: none;
  margin-bottom: 15px;
}

.radio-container {
  margin-bottom: 20px;
}

.radio-container label {
  padding: 20px;
}

.radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio input {
  margin-right: 8px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #fff;
  color: #000000;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.links {
  margin-top: 15px;
  font-size: 12px;
}

.links a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

.links a:hover {
  text-decoration: underline;
}
